.gray-dark{
  background-color: #3b444b;
}

.gray-medium{
  background-color: #62676b;
}

.gray-green{
  background-color: darkslategray;
}

.gray-soft{
  background-color: #bac7b6;
}

.gold{
  background-color: #f0c50f;
}

input[type="button"],

button{
  border-radius: 50%;
  border-style: none;
}
